nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

a:hover {
    text-decoration: none;
}

.topWrapperMargin {
    margin-top: 100px;
}

.list-pic {
    display: table-cell;
}

.list-pic img {
    height: 300px;
}

.list-desc {
    display: table-cell;
}

.item-padding {
    margin-bottom: 25px;
}

.item-detail-image .img-thumbnail {
    height: 220px;
}

.item-detail-category-item {
    color: gray;
}

.normalCard {
    float: none;
    width: 100%;
}

.card, .card-columns {
    border: 0;
    background-color: #ffffff;
}

.textAlign {
    text-align: center;
}

.mb-2 {
    margin-bottom: .5rem!important;
}

@media (min-width: 576px) {
    .mr-sm-2 {
        margin-right: .5rem!important;
    }
}

@media (min-width: 48em) {
    .smallContainer {
        max-width: 46rem;
    }
}

@media (min-width: 544px) {
    .smallContainer {
        max-width: 576px;
    }
}
