body {
    font-family: 'Montserrat', sans-serif !important;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

a:hover {
    text-decoration: none;
}

.topWrapperMargin {
    margin-top: 80px;
    margin-bottom: 50%;
}

.list-pic {
    display: table-cell;
}

.list-pic img {
    height: 300px;
}

.list-desc {
    display: table-cell;
}

.item-padding {
    margin-bottom: 25px;
}

.item-detail-image .img-thumbnail {
    height: 220px;
}

.item-detail-category-item {
    color: gray;
}

.quoteRight {
    display: none;
}

.normalCard {
    float: none;
    width: 100%;
}

.card, .card-columns {
    border: 0;
    background-color: #ffffff;
}

.textAlign {
    text-align: center;
}

.mb-2 {
    margin-bottom: .5rem!important;
}

.lineLink, .lineLink:hover {
    text-decoration: underline;
}

footer {
    font-size: 80%;
    line-height: 1.42857143;
}

.hoverLine:hover {
    text-decoration: underline;
}

.quoteBox:hover {
    cursor: pointer;
    background-color: #f9fafb;
}

.quoteCharacterImage {
    max-width: 85px;
}

.jumbotron {
    color: white;
}

.jumbotron .container {
    background: rgba(0,0,0,.6);
}

footer small {
    display: block;
    color: rgba(0,0,0,.44)!important;
}

small a {
    color: rgba(0,0,0,.44)!important;
}

footer p, footer a {
    color: rgba(0,0,0,.44)!important;
}

footer {
    padding-bottom: 20px;
}

.btn-facebook {
    color: #fff !important;
}

.btn-social.btn-lg>:first-child {
    line-height: 70px;
}

.btnSubtext {
    font-size: 12px;
    display: block;
}

.srcColorLink {
    color: #10dbe1 !important;
}

@media (min-width: 576px) {
    .mr-sm-2 {
        margin-right: .5rem!important;
    }
}

@media (min-width: 48em) {
    .smallContainer {
        max-width: 46rem;
    }
}

@media (min-width: 544px) {
    .smallContainer {
        max-width: 576px;
    }
}

@media (max-width: 743px) {
    .quoteCharacterImage {
        width: 35px;
        height: 35px;
    }
}
